@model Your_Archive.Models.ApplicationUser
@using GleamTech.AspNet.Core
@using GleamTech.FileUltimate.AspNet.UI

<!DOCTYPE html>
@{
    var fileUploader = new FileUploader
    {
        Width = 600,
        Height = 300,
        Resizable = true,
        UploadLocation = "~/VoorDeUsers/"@*{ @Model.Email. }*@ 
    };
}
<html>
<head>
    <title>File Uploader</title>
    @this.RenderHead(fileUploader)
</head>
<body>
    @this.RenderBody(fileUploader)
</body>
</html>