
@using GleamTech.AspNet.Core
@using GleamTech.FileUltimate.AspNet.UI

<!DOCTYPE html>
@{
    var fileManager = new FileManager
    {
        Width = 800,
        Height = 600,
        Resizable = true
    };

    var rootFolder = new FileManagerRootFolder
    {
        Name = "wwwroot",
        Location = @"C:\Users\Joshu\source\repos\Your_Archive\Your_Archive\wwwroot\VoorDeUsers"
    };

    rootFolder.AccessControls.Add(new FileManagerAccessControl
    {
        Path = @"\",
        AllowedPermissions = FileManagerPermissions.Full
    });

    fileManager.RootFolders.Add(rootFolder);
}
<html>
<head>
    <title>File Manager</title>
    @this.RenderHead(fileManager)
</head>
<body>
    @this.RenderBody(fileManager)
</body>
</html>